<div {{ attributes }}>
    {% if this.showForm %}
        <div class="door-form">
            <span class="question h5 mb-3">
                {{ this.questionText }}
            </span>
            {{ form_start(form, {
                attr: {
                    'data-action': 'live#action:prevent',
                    'data-live-action-param': 'save',
                }
            }) }}
            <div class="mb-5 image-area">
                <img src="{{ this.imageUrl }}">
            </div>
            <div class="mb-5 question">
                {{ form_row(form.question, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="mb-3">
                {{ form_row(form.answer, {'attr': {'class': 'form-control'}}) }}
            </div>
            <button type="submit" class="btn btn-primary">Abschicken</button>
            {{ form_end(form) }}
        </div>
    {% elseif this.showWinner%}
        <div class="win-frame">
            <div class="winner-text">
                <span>{{ this.responseText}}</span> <span class="points-yes">1 Punkt</span>
            </div>
            <div class="loose-win-image-area">
                {{ this.responseImage|raw  }}
            </div>
{#            <img src="https://media.tenor.com/XEW8qfvkdSgAAAAM/snoop-dogg-dancing.gif">#}
{#            <iframe src="https://www.youtube.com/embed/HCYYD1bmldo" title="Funny animals 2023😆 - Funniest Cats and Dogs Video🐕🐈220 #shorts" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>#}
        </div>
    {% elseif this.showLooser%}
        <div class="loose-frame">
            <div class="loose-text">
                <span>{{ this.responseText }}</span> <span class="points-no">Kein Punkt</span>
            </div>
            <div class="loose-win-image-area">
                {{ this.responseImage|raw  }}
            </div>

{#                        <img src="https://media.tenor.com/XEW8qfvkdSgAAAAM/snoop-dogg-dancing.gif">#}
{#            <iframe src="https://www.youtube.com/embed/HCYYD1bmldo" title="Funny animals 2023😆 - Funniest Cats and Dogs Video🐕🐈220 #shorts" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>#}
        </div>
    {% else %}
        <div class="win-chances">
            {% set currentPoints = this.currentPoints %}
            <span class="h1"><a class="link-symbol" href="{{ path('app_calendar') }}">🎄</a>🎅<span class="jana">Janas <a class="link-symbol" href="{{ path('app_calendar_demo') }}">⛄</a> </span> Adventskalender</span>
{#            ❄️⛄#}
            {% if this.isDemoMode %}
                <span style="font-size: 1.2rem">(DEMO)</span>
            {% endif %}
            <div class="current-points">
                <span>Punkte: </span><span class="points-value">{{ currentPoints }}</span>
            </div>
            <div class="win-header">Du gewinnst für</div>
            <div class="wins">
                <ul>
{#                    {% set currentPoints = 24 %}#}
                    {% for stage in this.winStages %}
                        <li class="{% if currentPoints < stage.pointBorder %}non-reached{% endif %}"><span class="points">{{ stage.pointText }}</span> <span class="win">{{ stage.winText(currentPoints) }}</span></li>
                    {% endfor %}
{#                    <li><span class="points">0-4 Points:</span> <span class="win">Eine Woche PS5 Leihe</span></li>#}
{#                    <li class="{% if this.currentPoints < 5 %}non-reached{% endif %}"><span#}
{#                                class="points">5-12 Points:</span> <span class="win">Ein eigener Tesa-Abroller</span>#}
{#                    </li>#}
{#                    <li class="{% if this.currentPoints < 13 %}non-reached{% endif %}"><span class="points">13-18 Points:</span>#}
{#                        <span class="win">Sushi-Ninja Sushi</span></li>#}
{#                    <li class="{% if this.currentPoints < 19 %}non-reached{% endif %}"><span class="points">19-24 Points:</span>#}
{#                        <span class="win">Du darfst dir vom Entwickler wünnschen was immer du willst</span></li>#}
                </ul>
            </div>
        </div>
    {% endif %}
</div>